:root {
  --color-primary: #1c293d;
  --secondary-color: #b4b4b4;
  --lines-color: #e9e9e9;
  --accent-dark-color: #47b1e6;
  --accent-light-color: #e4f0fa;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: 'SF Pro Display';
  min-width: 280px;
}

h1 {
  font-size: 48px;
  line-height: 56px;
}
h2 {
  font-size: 20px;
  line-height: 28px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
}
.text {
  font-size: 16px;
  line-height: 24px;
}
